src/main/resources/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CATALOG">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="CD">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TITLE" type="xs:string" />
                            <xs:element name="ARTIST" type="xs:string" />
                            <xs:element name="COUNTRY" type="xs:string" />
                            <xs:element name="COMPANY" type="xs:string" />
                            <xs:element name="PRICE" type="xs:decimal" />
                            <xs:element name="YEAR" type="xs:unsignedShort" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>